<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="container">
      <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.email %>. 

          <%# works, but turbo_confirm dialog does not appear %>
          <%= link_to 'Sign out', logout_path, { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

          <%# Dialog appears but cannot sign out %>
          <%#= link_to "Sign out", logout_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

          <%# Doesn't work, must use turbo_method %>
          <%#= button_to "Log out", logout_path, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          
          <%# Doesn't work, must use turbo_method %>
          <%#= button_to "Log out", logout_path, method: :delete %>
          
          <%# Note that we did have to list the session URI here, but in the other route, a uri "alias" is created %>
          <%#= link_to "Sign out", session_path('id'), data: { turbo_method: :delete } %>
          <%#= link_to 'Sign out', exit_path, { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign up", signup_path %> or 
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
